.my-selected:not([disabled]) {
    font-weight: bold;
    color: #0098da;
}

.rdp-caption {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.rdp-caption,
.rdp-head_row {
    color: #fff;
    background-color: #0098da;
    padding: 20px;
}

.rdp-month {
    border: 1px solid #0098da;
    border-radius: 20px;
}

.my-selected:hover:not([disabled]) {
    background-color: blue;
    color: blue;
}

.my-today {
    font-weight: bold;
    font-size: 140%;
    color: red;

.my-selected:not([disabled]) {
    font-weight: bold;
    color: #0098da;
}

.rdp-caption {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.rdp-caption,
.rdp-head_row {
    color: #fff;
    background-color: #0098da;
    padding: 20px;
}

.rdp-month {
    border: 1px solid #0098da;
    border-radius: 20px;
}

.my-selected:hover:not([disabled]) {
    background-color: blue;
    color: blue;
}

.my-today {
    font-weight: bold;
    font-size: 140%;
    color: red;

}